home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    margin: .5rem 0;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}